// Color palette

// Neutral
$neutral50: #FAFAFA;
$neutral100: #F5F5F5;
$neutral200: #EEEEEE;
$neutral300: #E0E0E0;
$neutral400: #BDBDBD;
$neutral500: #9E9E9E;
$neutral600: #757575;
$neutral700: #616161;
$neutral800: #424242;
$neutral900: #212121;

// Emphasis
$emphasisHigh: #000000;
$emphasisMedium: #000000CC;
$emphasisLow: #00000099;
$emphasisLowest: #00000066;
$emphasisLowDisabled: #00000033;
$emphasisHighInverse: #FFFFFF;
$emphasisMediumInverse: #FFFFFFCC;
$emphasisLowInverse: #FFFFFF99;
$emphasisLowestInverse: #FFFFFF66;
$emphasisHighDisabledInverse: #FFFFFF33;

// Brand
$brandPurple: #9197D8;
$brandBrown: #DBA67B;
$brandYellow: #FCE4B8;
$brandPink: #FF89A6;
$brandGreen: #74CF98;
$brandHyperlink: #545DD9;